* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(250, 174, 12, 0.4), rgba(0, 0, 0, 0.9));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 15px 15px;
    margin-top: 30px;
}

header input {
    height: 100%;
    max-width: 280px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 10px 15px 15px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #daa520;
    transition: 0.3s ease-in-out;
    text-align: center;
}

header input:focus {
    background-color: rgba(0, 0, 0, 0.8);
}

main {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 25px 25px 50px;
    color: white;
}

.location .city {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}

.location .date {
    font-size: 16px;
}

.current .temp {
    font-size: 100px;
    font-weight: 900;
    margin: 10px 0;
    text-shadow: 2px 8px rgba(233, 236, 13, 0.3);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    font-size: 40px;
    text-shadow: 0px 4px rgba(233, 236, 13, 0.3);
    font-style: italic;
    margin-bottom: 7px;
}

.current .hi-low {
    font-size: 20px;
}

.current .feels-like {
    margin-top: 7px;
}

#footer {
    position: absolute;
    bottom: 0;
    color: dimgray;
}